@import url('https://fonts.googleapis.com/css?family=Montaga&display=swap');

*{
    margin: 0;
    padding: 0;
    user-select: none;
}

body{
    font-family: 'Montaga', serif;
    background-image: url(../img/pintado.jpg); /*esta mierda no funciona, me cago en sus muertos son las 3:47. le encontré solucion a las 3:51. */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.forms{
    width: 100%;
    max-width: 680px;
    margin: 100px auto 0;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 5px 5px 25px #4ca1af;
    border-radius: 20px;
    background-color:#c4e0e5;
}

.content{
    text-align: center;
    margin-bottom: 70px;
}

.content h1{
    letter-spacing: 3px;
}

.form-group1, .form-group2, .form-group3, .form-group4{
    width: 100%;
    min-height: 70px;
}

label{
    display: block;
    margin-left: 20px;
    margin-bottom: 10px;
    letter-spacing: 5px;
}

input[type="text"]{
    margin-bottom: 20px;
    padding: 15px 15px;
    box-sizing: border-box;
    width: 100%;
    border: 2px solid rgb(193, 238, 247);
    border-radius: 40px;
}

input:focus{
    border-color: #4ca1af;
}

input[type="submit"]{
    background: #4ca1af;
    width: 100%;
    margin-top: 30px;
    padding: 20px 0;
    border-radius: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 3px;
    cursor: pointer;
}

/* input:valid {
    background:green;
    display: none;
}

input:invalid{
    background:red;
    display: inline;
} */